{
  "configEntities": {
    "identityStore": {
      "_type": "identityStoreType",
      "type": "local"
    }
  },
 "configKeys": {
    "gateway.external_url": "https://{{ getv "/config/PublicHostname" }}",
    "vizportal.openid.config_url": "{{ getv "/config/OpenID/ConfigurationURL" }}",
    "gateway.public.host": "{{ getv "/config/PublicHostname" }}",
    "gateway.trusted": "127.0.0.1",
    "wgserver.trusted_hosts" : "{{ getv "/config/TrustedHosts" "127.0.0.1" }}",
    "vizportal.openid.client_id": "{{ getv "/config/OpenID/ClientID" }}",
    "vizportal.openid.client_secret": "{{ getv "/config/OpenID/ClientSecret" }}",
    "vizportal.openid.enabled": true,
    "svcmonitor.notification.smtp.server": "{{ getv "/config/SMTP/Server" }}",
    "svcmonitor.notification.smtp.send_account": "{{ getv "/config/SMTP/User" }}",
    "svcmonitor.notification.smtp.port": 25,
    "svcmonitor.notification.smtp.password": "{{ getv "/config/SMTP/Password" }}",
    "svcmonitor.notification.smtp.ssl_enabled": true,
    "svcmonitor.notification.smtp.from_address": "{{ getv "/config/SMTP/From" "data-services@mozilla.com" }}",
    "svcmonitor.notification.smtp.target_addresses": "{{ getv "/config/SMTP/Target" "data-services@mozilla.com" }}",
    "svcmonitor.notification.smtp.canonical_url": "https://{{ getv "/config/PublicHostname" }}/",
    "backgrounder.send_email_on_refresh_failure": true,
    "subscriptions.enabled": true,
    "svcmonitor.notification.smtp.enabled": true,
    "features.DesktopReporting": true,
    "storage.monitoring.email_enabled": true,
    "storage.monitoring.warning_percent": 20,
    "storage.monitoring.critical_percent": 15,
    "storage.monitoring.email_interval_min": 25,
    "storage.monitoring.record_history_enabled": true
 }
}
